<title>SRM 686, D2, 250-Pointer (TreeAndVertex)</title>
<h3>SRM 686, D2, 250-Pointer (TreeAndVertex)</h3>
<h3>James S. Plank</h3>
Tue Nov  2 15:46:24 EDT 2021
<hr>

<UL>
<LI><a href=https://community.topcoder.com/stat?c=problem_statement&pm=14212&rd=16690>Problem Statement</a>.
<LI> <a href=main.cpp>A <b>main()</b> with the examples compiled in.</a>
<LI> <a href=TreeAndVertex.cpp>A skeleton that compiles with <b>main.cpp</b>.</a>
<p>
<LI> <b>Problem Given in Topcoder</b>: March, 2016
<LI> <b>Competitors who opened the problem</b>: 382
<LI> <b>Competitors who submitted a solution</b>: 326
<LI> <b>Number of correct solutions</b>: 275
<LI> <b>Accuracy (percentage correct vs those who opened)</b>: 72.0%
<LI> <b>Average Correct Time</b>: 18 minutes, 2 seconds.
<LI> <b><a href=tests.sh>tests.sh</a></b>
<LI> <b><a href=answers.txt>answers.txt</a></b>
</UL>

<hr>
<h3>In case Topcoders Servers are Down</h3>

<UL>
<LI> You are given the definition of a tree with a vector of integers, <i>T</i>.
<LI> There are <i>n+1</i> nodes in the tree, numbered 0 through <i>n</i>.
<li> The vector <i>T</i> has exactly <i>n</i> entries.
<LI> If <i>T[i]</i> = <i>x</i>, then there is an edge between nodes <i>i+1</i> and <i>x</i>.
<LI> You are guaranteed that <i>T</i> defines one connected tree.
<LI> Suppose you remove a node <i>i</i> from the tree, and all of the edges from and to <i>i</i>.
     That will leave <i>C<sub>i</sub></i> distinct components.  Return the maximum value of
     <i>C<sub>i</sub></i> for any <i>i</i>.
<LI> The topcoder constraints cap <i>T's</i> size at 99 elements, but I'm going to raise that
     constraint to 10,000.
</UL>

<hr>
<h3>Examples</h3>

<UL>
<LI> Example 0: T = { 0,0,0 }.  The answer is 3.  Here is one tree that fits the definition:  
<p><center><table border=3 cellpadding=3><td><pre>
        0
       /|\
      / | \
     1  2  3
</pre></td></table></center><p>
You get the maximum <i>C<sub>i</sub></i> by removing node 0
<p>
<LI> Example 1: T = { 0, 1, 2, 3 }.  The answer is 2.  Here is a tree:
<p><center><table border=3 cellpadding=3><td><pre>
        2
       / \
      1   3
     /     \
    0       4
</pre></td></table></center><p>
You get the maximum <i>C<sub>i</sub></i> by removing nodes 1, 2 or 3.
<p>
<LI> Example 2: T = { 0, 0, 2, 2 }.  The answer is 3.
<LI> Example 3: T = { 0, 0, 0, 1, 1, 1}.  The answer is 4.
<LI> Example 4: T = { 0, 1, 2, 0, 1, 5, 6, 1, 7, 4, 2, 5, 5, 8, 6, 2, 14, 12, 18, 10, 0, 6, 18, 2, 20, 11, 0, 11, 7, 12, 17, 3, 18, 31, 14, 34, 30, 11, 9}.  The answer is 5.
</UL>

<hr>
<h3>Testing yourself</h3>

Standard files: <b>tests.sh</b> and <b>answers.txt</b>.

<hr>
<h3>Hints</h3>

If you remove vertex <i>i</i>, and there are <i>c</i> edges coming out
of <i>i</i> (both children and parent edges),
then you will be left with <i>c</i> components.  So this problem 
is a straightforward matter of counting the number of edges coming out of each 
vertex.
<p>
You don't need to worry about the structure of the tree -- whether one node
is the parent of another.  Let's take example 0 as an example.  All of the following
trees correspond to the specified edges:

<p><center><table border=3 cellpadding=3><td><pre>
        0           1                2              3       
       /|\          |                |              |       
      1 2 3         0                0              0       
                   / \              / \            / \       
                  2   3            1   3          1   2       
</pre></td></table></center><p>

And the answer is the same regardless of how you view the parent/child relationship in the
tree.  So the answer here is to maintain a vector <i>E</i>, one per node in the tree.
<i>E[i]</i> should contain the number of edges coming out of node <i>i</i>.  
The maximum value of <i>E[i]</i> is the answer.
<p>
You can create <i>E</i> very simply by running through <i>T</i>.  Each value of <i>T[i]</i>
corresponds to the edge <i>(T[i],i+1)</i>, so for each value of <i>T</i> you increment two
values of <i>E</i>.  Then calculate the maximum.
<p>

