<title> CS202 -- Lab 1</title>

<h1> CS202 -- Lab 1</h1>
<h3>
<UL> 
<LI> CS202 -- Data Structures & Algorithms I
<LI> Fall, 2021
<LI> <a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI> <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Labs/Lab1/index.html>This file:
     <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Labs/Lab1</b></a>
<LI> Lab Directory: <b>/home/jplank/cs202/Labs/Lab1</b>
</UL>
</h3>
<hr>

This lab has two programs to hand in: <b>src/checkerboard.cpp</b> and <b>src/moonglow.cpp</b>.
You can do this lab with only this information from 
<a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Review/index.html>the
C++ review lecture notes.</a>  In particular, you don't need stringstreams or any such
mess.  Just a good understanding of <b>cin</b>.

<hr>
<h2>src/checkerboard.cpp</h2>

A <i>generalized checkerboard</i> is a rectangular grid one that has four parameters:

<UL>
<LI> <i>R</i>: The number of rows.
<LI> <i>C</i>: The number of columns.
<LI> <i>SC</i>: The starting character.
<LI> <i>CS</i>: The cycle size.
</UL>

The grid is a <i>(R * C)</i> matrix, where the element in row <i>r</i> and column <i>c</i>, 
contains the character <i>SC + (r+c)%CS</i>.  For example, here's a generalized checkerboard
with <i>R=5</i>, <i>C=6</i>, <i>SC = 'a'</i> and <i>CS=4</i>:

<p>
<center>
<table>
<tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>a</td> <td>b</td> </tr>
<tr> <td>b</td> <td>c</td> <td>d</td> <td>a</td> <td>b</td> <td>c</td> </tr>
<tr> <td>c</td> <td>d</td> <td>a</td> <td>b</td> <td>c</td> <td>d</td> </tr>
<tr> <td>d</td> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>a</td> </tr>
<tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>a</td> <td>b</td> </tr>
</table></center>
<p>

Your job is to write the program <b>src/checkerboard.cpp</b>, which reads five integers from 
standard input.  The first four are the parameters <i>R</i>,
<i>C</i>, <i>SC</i> and <i>CS</i>, as defined above.  The fifth 
parameter is a width <i>W</i>.

Your program should print out the specified checkerboard such that
each element of the grid is printed as a <i>(W * W)</i> square.  Here
are some examples:

<pre>
UNIX> <font color=darkred><b>bin/checkerboard</b></font>
<font color=darkred><b>5 6 a 4 1</b></font>
abcdab
bcdabc
cdabcd
dabcda
abcdab
UNIX> <font color=darkred><b>bin/checkerboard</b></font>
<font color=darkred><b>5 6 a 4 3</b></font>
aaabbbcccdddaaabbb
aaabbbcccdddaaabbb
aaabbbcccdddaaabbb
bbbcccdddaaabbbccc
bbbcccdddaaabbbccc
bbbcccdddaaabbbccc
cccdddaaabbbcccddd
cccdddaaabbbcccddd
cccdddaaabbbcccddd
dddaaabbbcccdddaaa
dddaaabbbcccdddaaa
dddaaabbbcccdddaaa
aaabbbcccdddaaabbb
aaabbbcccdddaaabbb
aaabbbcccdddaaabbb
UNIX> <font color=darkred><b>bin/checkerboard</b></font>
<font color=darkred><b>4 40 J 20 3</b></font>
JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]
JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]
JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]
KKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJ
KKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJ
KKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJ
LLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKK
LLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKK
LLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKK
MMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLL
MMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLL
MMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLLMMMNNNOOOPPPQQQRRRSSSTTTUUUVVVWWWXXXYYYZZZ[[[\\\]]]JJJKKKLLL
UNIX> <font color=darkred><b>bin/checkerboard</b></font>
<font color=darkred><b>4 40 0 2 3</b></font>
000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111
000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111
000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111
111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000
111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000
111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000
000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111
000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111
000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111
111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000
111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000
111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000111000
UNIX> <font color=darkred><b></b></font>
</pre>

<b>Error checking:</b> Your program should print the same output as mine on standard error if too
few arguments are given, or if they are not numbers.  
It should exit silently if any of the parameters is less than or
equal to zero, and if the ASCII value of the starting character plus the cycle size is greater than 127.

<hr>
<h2>src/moonglow.cpp</h2>

Your sister Sheri is an Philosophy professor.  She recently gave a midterm 
exam to 500 students in her intro class, and it was graded by her PhD
student, Moonglow (philosophy students have names like these), 
who put each student's test scores into a text file with a 
rather byzantine format.  
Unfortunately, before Moonglow could convert those files to Excel for Sheri,
his wife Sunshine left him, got into their VW van with their child Starrlite
and drove home to the commune in northern California where they grew up.  
That should not surprise you.  Moonglow of course followed her, and 
since the commune is off the grid (duh), Sheri is stuck with 500 text
files that she doesn't know how to process.
<p>
Fortunately, you're in CS202, and Sheri has offered you a quarter of her
grant money to convert those files into a more palatable format. 
$25 isn't a huge amount of money, but you love your sister, and this
shouldn't take you long, so you agree.  You are to write the program
<b>src/moonglow.cpp</b> which reads a file in Moonglow's format on standard
input, and prints a very simple output.
<p>
Here's Moonglow's format.  The text file is composed of words.  If a word is a number,
then that is a student's score on a question, so you add it to the student's exam score.
If the word is not a number, but is the word "NAME", then the next word is the student's
name (Moonglow only uses first names -- last names are corporate and impersonal).
If the word is "AVERAGE", then you start reading numbers until you read a word that
is not a number (or is the end of the file).  You average all of those numbers and add
that to the score.  Since Moonglow is a little scatterbrained, sometimes a number
does not follow "AVERAGE."  In that case, you ignore the "AVERAGE".
<p>
When you are done reading the file, your program should print the student's name, a space,
and the student's score.  Just use <b>cout</b> for this -- nothing exciting.
<p>
<h3>Error Checking</h3>

You don't have to check for errors, and you may assume that the input is in the correct
format.  That would cost Sheri more money.  However, this is a pretty flexible format.
The only things that you need to assume are:
<UL>
<LI> The input will specify exactly one student's name.  
<LI> That student's name won't be "AVERAGE" or "NAME."  
</UL>

Here are some examples:

<p><center><table border=3 cellpadding=10>
<tr>
<td align=center valign=top>File</td>
<td align=center valign=top>Contents</td>
<td align=center valign=top>Correct output</td>
</tr>
<tr>
<td valign=top><a href=data/test-1.txt>data/test-1.txt</a></td>
<td valign=top><pre>
NAME Fred
</pre></td>
<td valign=top><tt>Fred 0</tt></td>
</tr>
<tr>
<td valign=top><a href=data/test-2.txt>data/test-2.txt</a></td>
<td valign=top><pre>
NAME Dontonio
8.6
16.2
</pre></td>
<td valign=top><tt>Dontonio 24.8</tt></td>
</tr>
<tr>
<td valign=top><a href=data/test-3.txt>data/test-3.txt</a></td>
<td valign=top><pre>
I miss Starrlight!!
15 NAME
Frank
</pre></td>
<td valign=top><tt>Frank 15</tt></td>
</tr>
<tr>
<td valign=top><a href=data/test-4.txt>data/test-4.txt</a></td>
<td valign=top><pre>
AVERAGE 10 15 20 NAME Luther 10 Starrlite!!
</pre></td>
<td valign=top><tt>Luther 25</tt></td>
</tr>
<tr>
<td valign=top><a href=data/test-5.txt>data/test-5.txt</a></td>
<td valign=top><pre>
NAME Baby-Daisy
AVERAGE 3 4 5 6
AVERAGE 7 8 9
Where's Starrlite!!
</pre></td>
<td valign=top><tt>Baby-Daisy 12.5</tt></td>
</tr>
<tr>
<td valign=top><a href=data/test-6.txt>data/test-6.txt</a></td>
<td valign=top><pre>
Starrlite AVERAGE Starrlite!!! NAME 
Starrlite
AVERAGE 55 Starrlite!!!  Starrlite
AVERAGE Starrlite 5 6 7
</pre></td>
<td valign=top><tt>Starrlite 73</tt></td>
</tr>
</table></center><p>


Some comments on the examples.  First, the file doesn't have to have any scores, like
<b><a href=data/test-1.txt>data/test-1.txt</a></b>.  Second, you should use doubles and not
integers.  Third, the "NAME" can appear anywhere, and can be on a different line
than the name, as in 
<b><a href=data/test-3.txt>data/test-3.txt</a></b>.   Last, the "AVERAGE" can have zero numbers
after it, as it does twice in 
<b><a href=data/test-6.txt>data/test-6.txt</a></b>.   Thus, in the file, the score is 55,
from the second "AVERAGE", plus 5, 6 and 7, which equals 73.
<hr>
<b>A suggestion</b>: This lab frustrates students, because you have to do your operations
in a certain order.  I suggest that you draw a block diagram to help you figure out the
order of operations.  That will make your programming much easier.  Here's a start to
the block diagram:

<p><center><table border=3><td><img src=img/Block-Diagram.jpg width=400></td></table></center><p>

<hr>
<h3>The Gradescript</h3>

The grading programs are in 
<b>/home/jplank/cs202/Labs/Lab1/gradescript</b> and
<b>/home/jplank/cs202/Labs/Lab1/gradeall</b>

<p>
The first 30 tests are for <b>checkerboard</b>.  The remaining 70 are for <b>moonglow</b>.
