<title> CS202 -- Lab A</title>

<h1> CS202 -- Lab A</h1>
<h3>
<UL> <LI> CS202 -- Data Structures and Algorithms I
<LI> <a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI> This file:
<a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Labs/LabA>
     <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Labs/LabA</b></a>
</UL>
</h3>

To start this lab, please do the following:

<pre>
mkdir obj
mkdir bin
cp -r /home/jplank/cs202/Notes/Trees/include .
cp -r /home/jplank/cs202/Notes/Trees/src .
cp /home/jplank/cs202/Notes/Trees/makefile .
</pre>

Your job is detailed in the section entitled "Your Lab" in
the <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Trees/index.html>lecture
notes on trees and binary search trees</a>.  You are to submit the file <b>src/bstree_lab.cpp</b>.
You are not allowed to modify <b>include/bstree.hpp</b> or 
<b>src/bstree_notes.cpp</b>.

<hr>

<h3>The Gradescript</h3>

The gradescripts work in the following way:

<UL>
<LI> Gradescripts 1-10 test <b>Depth()</b>.
<LI> Gradescripts 11-20 test <b>Height()</b>.
<LI> Gradescripts 21-30 test <b>Ordered_Keys()</b>.
<LI> Gradescripts 31-40 test the assignment overload.
<LI> Gradescripts 41-50 test the copy constructor.
<LI> The remaining gradescripts test everything.
</UL>
