<title>SRM 467, D2, 250-Pointer (ShorterSuperSum)</title>
<h3>SRM 467, D2, 250-Pointer (ShorterSuperSum)</h3>
<h3>James S. Plank</h3>
Tue Nov  9 17:00:53 EST 2021
<hr>


<UL>
<LI><a href=https://community.topcoder.com/stat?c=problem_statement&pm=10240&rd=14151>Problem Statement</a>.
<LI> <a href=main.cpp>A <b>main()</b> with the examples compiled in.</a>
<LI> <a href=ShorterSuperSum.cpp>A skeleton that compiles with <b>main.cpp</b>.</a>
<LI> MD5 hash of <a href=tests.sh><b>tests.sh</b></a>: <tt>cbaae2ca4a06f799f2b6f9dc6377cb35</tt>
<LI> MD5 hash of <a href=answers.txt><b>answers.txt</b></a>: <tt>2e56af24e1962e97ad97e8d09caaf915</tt>
<p>
<LI> <b>Problem Given in Topcoder</b>: 2010
<LI> <b>Competitors who opened the problem</b>: 679
<LI> <b>Competitors who submitted a solution</b>: 609
<LI> <b>Number of correct solutions</b>: 579
<LI> <b>Accuracy (percentage correct vs those who opened)</b>: 85.3
<LI> <b>Average Correct Time</b>: 11 minutes, 52 seconds.
</UL>

<hr>
<h3>In case the Topcoder servers are down</h3>
Here is a summary of the problem:
<UL>
<LI> You are given two positive integers <i>k &le; 11</i> and <i>n &le; 20</i>.
<LI> We define a mathematical function, <i>SS(k,n)</i>:
<P>
<UL>
<LI> <i>SS(0,n) = n</i>.
<LI> Otherwise <i>SS(k,n)</i> = the sum for <i>i = 1</i> to <i>n</i> of <i>SS(k-1,n)</i>.
<LI> Return <i>SS(k,n)</i>
</UL>
</UL>

<hr>
<h3>Examples</h3>

These are all included in <b>main.cpp</b>.  If you give the input "-" to <b>main.cpp</b>, 
then it will read its values from standard input.

<pre>
  #   k   n   Answer
  0   1   3       6:  1 + 2 + 3 = 6
  1   2   3      10:  SS(1,1) + SS(1,2) + SS(1,3) = 1 + 3 + 6 = 10
  2   4  10    2002
  3  10  10  167960
</pre>

<hr>
<h3>Testing Yourself without Topcoder's Servers</h3>

Standard workflow.  See the "Cryptography" problem.

<hr>
<h3>Hints</h3>

Just use a brain-dead recursion.  It will finish within the time limits (on my machine,
all of <b>tests.sh</b> takes under 2 seconds.

<hr>
<h3>For a Bigger Challenge</h3>

You can increase <i>k</i> and <i>n</i> to 1,000 and use dynamic programming.
